{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}

<a href="{{ path("app_person_create") }}">Add a contact</a>

{% for person in persons %}
<h1> {{ person.FirstName }} {{ person.LastName }} </h1>
<a href="{{ path("app_person_edit", {id:person.id}) }}">edit</a>
{% endfor %}

{% endblock %}
